# API environment
ENVIRONMENT="development"
SERVER_ADDR="localhost:8080"
CORS_ORIGIN="*"

# JWT environment
JWT_SECRET="<SECRET_KEY>"

# Database environment
DATABASE_HOST="<DB_HOST>"
DATABASE_PORT="<DB_PORT>"
DATABASE_NAME="<DB_NAME>"
DATABASE_USER="<DB_USER>"
DATABASE_PWD="<DB_PWD>"